.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  margin: 1rem 0rem;
  border-radius: 10px;
}

.productContainer:hover {
  box-shadow: rgba(64, 77, 148, 0.4) 0px 2px 8px 0px;
}
